:root {
    --darkBlue: rgb(38, 38, 90);
    --white: white;
}

* {

}

header {
    display: flex;
    background-color: var(--darkBlue);
    width: 100%;
    height: 150px;
}

.page-title {
    color: var(--white);
    font-size: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 20px;
}

.text-right {
    text-align: right;
    width: 100%;
}

ul {
    margin: 35px 20px;
}

li {
    display: inline-block;
    font-size: 36px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}

a:hover {
    color: rgb(178, 121, 16);
}

body {
    background-color: rgb(212, 199, 183);   
}

main {
    margin-top: 20px;
    background-color: rgb(225, 202, 173);
}

.about-me {
    display: flex;

}